<div style=" display: flex; gap: 30px; justify-content: center;margin-top: 50px">
  <circle-chart [value]="8" [maxValue]="8" [color]="'#9ECB8E'" [bgColor]="'#ecf4e9'" [gradientColoring]="true" [dimensionsInPixels]="200"></circle-chart>
  <circle-chart [value]="6" [maxValue]="8" [color]="'#FF4040'" [bgColor]="'#FADADA'" [gradientColoring]="true" [dimensionsInPixels]="200"></circle-chart>
  <circle-chart [value]="7" [maxValue]="8" [color]="'#FFB807'" [bgColor]="'#fff1cf'" [gradientColoring]="true" [dimensionsInPixels]="200"></circle-chart>
</div>